[include]
  # Put user.email in here
  path = ~/.git_include
[user]
  name = DJ Lee
[core]
  autocrlf = input
  trustctime = false
  editor = vim
  excludesfile = ~/.gitignore_global
[diff]
  tool = gvimdiff
[merge]
  tool = gvimdiff
  summary = true
  conflictstyle = diff3
[url "djlee@git.spotify.net"]
  insteadof = git@git.spotify.net
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%C(yellow)%h %Cgreen%ad %C(bold blue)%ae%Creset %s%C(red)%d%Creset\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  graph = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
  d = difftool
[branch]
  autosetuprebase = always
[difftool]
  prompt = false
[difftool "vimdiff"]
  path = /usr/bin/vimdiff
[color]
  diff = auto
  interactive = auto
  status = auto
  grep = auto
[rerere]
  enabled = 1
[rebase]
  autosquash = true
[push]
  default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
